{% extends "base copy 2.html" %} {% load static %}

<style>
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  .section {
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;
  }
  .container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
  }
  .content-section {
    float: right;
    width: 55%;
  }
  .container-section .tittle {
    float: center;
    text-align: center;
    width: 55%;
    /* margin-top: 0px; */
    margin-bottom: 20px;
    /* max-resolution: ; */
    padding-top: 100px;
  }
  .content-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .content-section .content1 {
    float: right;
    width: 25%;
  }
  .content1 {
    /* background-color: #efefef; */
    color: #000000;
    height: 150px;
    width: 48%;
    float: left;
  }
  .content2 {
    /* background-color: #efefef; */
    color: #000;
    height: 150px;
    width: 48%;
    float: right;
  }

  .content3 {
    /* background-color: #efefef; */
    color: #000;
    height: 150px;
    width: 48%;
    float: right;
  }
  .content4 {
    /* background-color: #efefef; */
    color: #000;
    height: 150px;
    width: 48%;
    float: left;
  }
  .content5 {
    /* background-color: #efefef; */
    color: #000;
    height: 150px;
    width: 48%;
    float: left;
  }
</style>

{% block body%}
<div class="section">
  <div class="container">
    <div class="container-section">
      <div class="content1">
        <h3>Satyam -Project Leader</h3>
        <!-- <div class="image">
                        image
                    </div> -->
        <p>C++ and front end developer</p>
        <!-- <div class="social">
                        
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </div> -->
      </div>
      <div class="content2">
        <h3>Hardik Kawantoo-Developer.</h3>
        <!-- <div class="image">
                        image
                    </div> -->
        <p>Django and back end developer.</p>

        <!-- <div class="social">
                       
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </div> -->
      </div>
      <div class="content3">
        <h3>Vishal Mundol.</h3>
        <!-- <div class="image">
                        image
                    </div> -->
        <p>Project member and front end developer.</p>
        <!-- <div class="social">
                       
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </div> -->
      </div>
      <div class="content4">
        <h3>Depeender .</h3>
        <!-- <div class="image">
                        image
                    </div> -->
        <p>Python and front end developer.</p>
        <!-- <div class="social">
                       
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </div> -->
      </div>
      <div class="content5">
        <h3>Aqib .</h3>
        <!-- <div class="image">
                       image
                    </div> -->
        <p>Database admin and back end developer.</p>
        <!-- <div class="social">
                       
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </div> -->
      </div>
    </div>
  </div>
</div>

{% endblock body %}
