{% extends "base.html" %}
{% load static %}
{% block body%}
    <!-- carousle -->
    <div class="container-sm-3" style="margin-left: 25%; position: relative">
      <div
        id="carouselExampleInterval"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <img
              src="https://images.pexels.com/photos/277390/pexels-photo-277390.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              height="400"
              width="900"
              class="d-block"
              alt="..."
            />
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/affordable-watches-1575670104.jpg?crop=1.00xw:0.752xh;0,0.00962xh&resize=640:*"
              height="400"
              width="900"
              class="d-block"
              alt="..."
            />
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQe_oFdc29avn0GtUMKiyA3vIfbrTgY_dSUcg&usqp=CAU"
              height="400"
              width="900"
              class="d-block"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <script>
      function myfunction(para1, para2, para3,para4) {
        document.getElementById("offcanvasImage").setAttribute("src", para3);
        document.getElementById("canvasbody1").innerHTML = para1;
        document.getElementById("canvasbody2").innerHTML = "Price: "+para2+ " Rs.";
        document.getElementById("canvasbody3").innerHTML =para4;
        
        
      }
    </script>

    <!--cards-->
    <div class="container" style="margin-left: 180px; width: 100%" id="cards">
      <h2 style="text-align: left">Products</h2>

      <div class="row" style="margin-bottom: 100px">
        {%for items in ItemD%}

       

        <div class="col-sm-3" style="width: 16rem">
          <div class="card" style="width: 15rem">
            <img
              src="{{items.Upload.url}}"
              class="card-img-top min-vw-auto"
              alt="..."
              onclick="myfunction('{{items.Name}}','{{items.Cost}}','{{items.Upload.url}}','{{items.Description}}')"
              data-bs-toggle="offcanvas"
              href="#offcanvasExample"
              role="card"
              aria-controls="offcanvasExample"
              style="width: 240px; height: 240px"
            />

            <div class="card-body">
              <p class="card-text">
              {{items.Name}} 
              <br>
                {{items.Cost}} Rs.
              </p>
              
              
              </script>
            </div>
          </div>
        </div>
       
        {% endfor %}
        {% include 'pagination.html' with page=ItemD %}
        <!-- <div class="my-3">
        <button class="btn btn-primary">&laquo; Previous</button>
        <button class="btn btn-primary">{{num}}</button>
        <button class="btn btn-primary">Next &raquo;</button>
      </div> -->
      </div>
    </div>

    <!-- this is offcanvuspart -->
    <!-- this is offcanvuspart -->
    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasExample"
      aria-labelledby="offcanvasExampleLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">
          Item Discription
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <div>
          <img src="#" width="300" height="400" id="offcanvasImage" />
          <p id="canvasbody1"></p>
          <p id="canvasbody2"></p>
          <p>
            Item Description:
            <br>
            <p id="canvasbody3"></p>
          </p>
          
        </div>
      </div>
    </div>

    
  
{% endblock body %}