


{% extends "base copy 2.html" %} {% load static %} {% block body%}

<h1 style="text-align: center">Auction HUB Live Auction !</h1>
<div class="container" style="width: 500; height:500;">
  <div class="row">
    <div class="col-md-5">
  <div id="myresult" class="img-zoom-result"></div>
    </div>
<div class="col-md-6">
    <br><br>
    <h1>Item Name: {{mymember.Name}}</h1>
    <h1>Current Amount: {{mymember.Cost}}</h1>
    <form name="myForm" action="updaterecord/{{ mymember.id }}" method="post" onsubmit="return validateForm()">
        {% csrf_token %} 
        <h1></h1>Enter Amount:</h1><br />
        <input type="number" id="number" name="cost" value= "{{ mymember.Cost }}" />  
        <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value"></div>
      
        <input type="submit" value="Submit" />
      </form>
      <div class="img-zoom-container">
        <img id="myimage" src="{{mymember.Upload.url}}" width="300" height="240" />
        
      </div>
</div>
</div>
</div>

<br>
<br>
<br>
<script>
    function validateForm() {
      let x = document.forms["myForm"]["number"].value;
      if (x <= "{{ mymember.Cost }}"-0) {
        alert("Cannot enter lower bid");
        return false;
      }
    }
    </script>

<style>
  * {
    box-sizing: border-box;
  }

  .img-zoom-container {
    position: relative;
  }

  .img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 100px;
    height: 100px;
  }

  .img-zoom-result {
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 500px;
    height: 500px;
  }
</style>
<script>
  function imageZoom(imgID, resultID) {
    var img, lens, result, cx, cy;
    img = document.getElementById(imgID);
    result = document.getElementById(resultID);
    /*create lens:*/
    lens = document.createElement("DIV");
    lens.setAttribute("class", "img-zoom-lens");
    /*insert lens:*/
    img.parentElement.insertBefore(lens, img);
    /*calculate the ratio between result DIV and lens:*/
    cx = result.offsetWidth / lens.offsetWidth;
    cy = result.offsetHeight / lens.offsetHeight;
    /*set background properties for the result DIV:*/
    result.style.backgroundImage = "url('" + img.src + "')";
    result.style.backgroundSize =
      img.width * cx + "px " + img.height * cy + "px";
    /*execute a function when someone moves the cursor over the image, or the lens:*/
    lens.addEventListener("mousemove", moveLens);
    img.addEventListener("mousemove", moveLens);
    /*and also for touch screens:*/
    lens.addEventListener("touchmove", moveLens);
    img.addEventListener("touchmove", moveLens);
    function moveLens(e) {
      var pos, x, y;
      /*prevent any other actions that may occur when moving over the image:*/
      e.preventDefault();
      /*get the cursor's x and y positions:*/
      pos = getCursorPos(e);
      /*calculate the position of the lens:*/
      x = pos.x - lens.offsetWidth / 2;
      y = pos.y - lens.offsetHeight / 2;
      /*prevent the lens from being positioned outside the image:*/
      if (x > img.width - lens.offsetWidth) {
        x = img.width - lens.offsetWidth;
      }
      if (x < 0) {
        x = 0;
      }
      if (y > img.height - lens.offsetHeight) {
        y = img.height - lens.offsetHeight;
      }
      if (y < 0) {
        y = 0;
      }
      /*set the position of the lens:*/
      lens.style.left = x + "px";
      lens.style.top = y + "px";
      /*display what the lens "sees":*/
      result.style.backgroundPosition = "-" + x * cx + "px -" + y * cy + "px";
    }
    function getCursorPos(e) {
      var a,
        x = 0,
        y = 0;
      e = e || window.event;
      /*get the x and y positions of the image:*/
      a = img.getBoundingClientRect();
      /*calculate the cursor's x and y coordinates, relative to the image:*/
      x = e.pageX - a.left;
      y = e.pageY - a.top;
      /*consider any page scrolling:*/
      x = x - window.pageXOffset;
      y = y - window.pageYOffset;
      return { x: x, y: y };
    }
  }
</script>


<script>
  // Initiate zoom effect:
  imageZoom("myimage", "myresult");
</script>
{% endblock body%}
